.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.bak
*.tmp
*.swp
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
*.egg
*.whl
.env
.env.*
*.env
*.env.*
*.pem
*.key
*.crt
*.p12
*.csr
*.der
*.jks
*.keystore
*.pfx
*.p7b
*.p7c


model.pt 
#model.pt is too big for github